.rs-wrap:after,
.rs-slider:after,
.rs-thumb-wrap:after,
.rs-arrows:after,
.rs-caption:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    line-height: 0;
    visibility: hidden;
}

/* ===[ Slider ]=== */

.rs-wrap {
    position: relative;
    max-width: 100%;
}

.rs-slide-bg { *zoom: 1 }

.rs-slider {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.rs-slider > li > a { display: block }

.rs-slider > li {
    list-style: none;
    filter: alpha(opacity=0);
    opacity: 0;
    width: 100%;
    height: 100%;
    margin: 0 -100% 0 0;
    padding: 0;
    float: left;
    position: relative;
}

    .rs-slider > li > a {
        padding: 0;
        background: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    .rs-slider > li img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        -ms-interpolation-mode: bicubic;
    }

/* ===[ Thumbnails ]=== */

.rs-thumb-wrap { *zoom: 1; padding-top: 20px; text-align: center;}

    .rs-thumb-wrap > a {
        display: inline-block;
        position: relative;
        background: #6b6862;
        padding: 3px;
        max-width: 132px;
        height: auto;
        -webkit-transition:all 0.2s ease-in-out;
        -moz-transition:all 0.2s ease-in-out;
        -ms-transition:all 0.2s ease-in-out;
        -o-transition:all 0.2s ease-in-out;
        transition:all 0.2s ease-in-out;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-backface-visibility: hidden; /* Hardware accelerate to prevent jumps on transition */
    }
    .rs-thumb-wrap > a:hover,
    .rs-thumb-wrap > a.active {
        background: #b8622b;
    }
    .rs-thumb-wrap > a:before {
        content:"";
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -7px;
        top: 3px;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #6b6862;
        -webkit-transition:all 0.2s ease-in-out;
        -moz-transition:all 0.2s ease-in-out;
        -ms-transition:all 0.2s ease-in-out;
        -o-transition:all 0.2s ease-in-out;
        transition:all 0.2s ease-in-out;
    }
    .rs-thumb-wrap > a:hover:before,
    .rs-thumb-wrap > a.active:before {
        top: -7px;
        border-bottom-color: #b8622b;
    }

        .rs-thumb-wrap > a > img {
            max-width: 100%;
            max-height: 100%;
            display: block;
            position: relative;
            -ms-interpolation-mode: bicubic;
        }

.rs-thumb-wrap > a:first-child { margin-left: 0!important }

/* ===[ Arrows ]=== */

.rs-arrows .rs-next,
.rs-arrows .rs-prev { z-index: 2; }

.rs-arrows:hover .rs-next,
.rs-arrows:hover .rs-prev { z-index: 2; }

.rs-arrows a {
    position: absolute; 
    top: 50%; 
    z-index: 10;
    display: block; 
    margin: -18px 0 0 0;
    width: 36px; 
    height: 36px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #000;
    background: rgba(0,0,0,.6);
    color: #fff; 
    text-align: center;
    font-size: 18px;
    line-height: 36px;
    cursor: pointer;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}
.rs-arrows .rs-next {
    right: 16px;
}
.rs-arrows .rs-prev {
    left: 16px;
}
.rs-next:hover, 
.rs-prev:hover {
    background: #b8622b;
    color: #fff;
    text-decoration: none;
}

/* ===[ Captions ]=== */

.rs-caption {
    position: absolute;
    left: 50%;
    margin-left: 90px;
    top: 40%;
    max-width: 480px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    z-index: 2;
}
    .rs-caption h2 {
        font-size: 28px;
        line-height: 48px;
        margin-bottom: .2em;
    }
        .rs-caption h2 span {
            display: inline-block;
            line-height: 48px;
            padding: 0 14px;
            text-shadow: 1px 1px 1px rgba(0,0,0,.3);
            margin-bottom: 4px;
        }
        .rs-caption h2 span.first {
            background: #b8622b;
            background: rgba(184,98,43,.65);
            color: #fff;
        }
        .rs-caption h2 span.second {
            background: #000;
            background: rgba(0,0,0,.75);
            color: #b8622b;
        }

.rs-caption.rs-top-left {
    top: 0;
    bottom: auto;
}

.rs-caption.rs-top-right {
    top: 0;
    right: 0;
    left: auto;
    bottom: auto;
}

.rs-caption.rs-bottom-left {
    bottom: 0;
    left: 0;
}

.rs-caption.rs-bottom-right {
    right: 0;
    left: auto;
    border-bottom: none;
    border-right: none;
}

.rs-caption.rs-top {
    top: 0;
    bottom: auto;
}

.rs-caption.rs-bottom { }

.rs-caption.rs-left {
    top: 0;
    height: 100%;
}

.rs-caption.rs-right {
    top: 0;
    left: auto;
    right: 0;
    height: 100%;
}

/* ===[ Grid ]=== */

.rs-grid {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: none;
}

.rs-gridlet {
    position: absolute;
    opacity: 1;
}

/* Optional - remove captions at smaller screen widths
@media screen and (max-width: 480px) {
	.rs-caption { opacity: 0!important; }
}
*/
